{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['bank-1-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#">All deals</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="index">All facilities</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="reports">Bank reports</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="ukef-grid-column-one-seventh">
            <nav class="moj-side-navigation" aria-label="Side navigation">
                <h4 class="moj-side-navigation__title">2023</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="#1" aria-current="location">April</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#2">March</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">February</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">January</a>
                    </li>
                </ul>

                <h4 class="moj-side-navigation__title">2022</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item">
                    <a href="#3">December</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">November</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">October</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">September</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">August</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">July</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">June</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">May</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">April</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">March</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">February</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">January</a>
                    </li>
                </ul>

                <h4 class="moj-side-navigation__title">2021</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item">
                    <a href="#1" aria-current="location">December</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                        <a href="#2">November</a>
                        </li>
                
                        <li class="moj-side-navigation__item">
                        <a href="#3">October</a>
                        </li>
        
                        <li class="moj-side-navigation__item">
                        <a href="#2">September</a>
                        </li>
                
                        <li class="moj-side-navigation__item">
                        <a href="#3">August</a>
                        </li>
            
                </ul>
            <!-- <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="#1" aria-current="location">April 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2">March 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">February 2023</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">January 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">December 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">November 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">October 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">September 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">August 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">July 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">June 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">May 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">April 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">March 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">February 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">January 2022</a>
              </li>
            </ul>-->
          </nav>
      

    </div>

  <div class="ukef-grid-column-six-seventh">
    


    {% if 'not-done' in data['bank-1-reconciliation'] %}
    <!-- display start reconciliation button  and the report without the tabs-->
    <div class="moj-page-header-actions">

      <div class="moj-page-header-actions__title">
        <span class="govuk-caption-xl">{{ data['report-month'] }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          {{ data['bank-1-name'] }}
        </h1>
      </div>
    
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <form class="form" action="bank-1-reconciliation.html" method="get">
            <button class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action" data-module="govuk-button">
              Start reconciliation
            </button>
          </form>
          </div>
        </div>
      </div>
    
    </div>

    <h2 class="govuk-heading-l">Report</h2>
    {% include "includes/bank1-report.html" %} 
  </div>
  </div>




  {% elif 'done' in data['bank-1-reconciliation'] %}
  <!-- display the tabs, the report and the reconciled data -->
  <span class="govuk-caption-xl">{{ data['report-month'] }}</span>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
    {{ data['bank-1-name'] }}
  </h1>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#report">
          Report
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#reconciliation">
          Reconciliation
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="report">
      
      
      <h2 class="govuk-heading-l">Report</h2>
      
      {% include "includes/bank1-report.html" %} 

      
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation">
      
      <h2 class="govuk-heading-l">Reconciliation</h2>

     <!-- Display reconciliation data -->

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reported fee payable
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['bank-1-fee-payable'] }}
        </dd>
        <dd>
        </dd>
      </div>  
      
      {% if 'Yes' in data['bank-1-payment'] %}
      <!-- Display the reported bank fee payable -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Payment received
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['bank-1-fee-payable'] }}
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div> 
      
      {% else %}
      <!-- Display the fee received -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
        Amount received
        </dt>
        <dd class="govuk-summary-list__value">
            GBP {{ data['bank1-amount-received'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% endif %}


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date received
        </dt>
        <dd class="govuk-summary-list__value">
          8 May 2023
        </dd>
      </div> 
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reconciled by
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['signed-in-name'] }}, {{ data['todays-date-full'] }} at {{ data['time-now'] }}
        </dd>
      </div>

    </dl>

    <!--end of reconciliation data -->

     

  {% endif %}

{% endblock %}
