{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['bank-1-name'] }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#">All deals</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="index">All facilities</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="reports">Bank reports</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="ukef-grid-column-one-seventh">
            <nav class="moj-side-navigation" aria-label="Side navigation">
                <h4 class="moj-side-navigation__title">2023</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="#1" aria-current="location">April</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#2">March</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">February</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">January</a>
                    </li>
                </ul>

                <h4 class="moj-side-navigation__title">2022</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item">
                    <a href="#3">December</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">November</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">October</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">September</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">August</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">July</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">June</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">May</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">April</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">March</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                    <a href="#3">February</a>
                    </li>
    
                    <li class="moj-side-navigation__item">
                    <a href="#2">January</a>
                    </li>
                </ul>

                <h4 class="moj-side-navigation__title">2021</h4>
                <ul class="moj-side-navigation__list">
                    <li class="moj-side-navigation__item">
                    <a href="#1" aria-current="location">December</a>
                    </li>
            
                    <li class="moj-side-navigation__item">
                        <a href="#2">November</a>
                        </li>
                
                        <li class="moj-side-navigation__item">
                        <a href="#3">October</a>
                        </li>
        
                        <li class="moj-side-navigation__item">
                        <a href="#2">September</a>
                        </li>
                
                        <li class="moj-side-navigation__item">
                        <a href="#3">August</a>
                        </li>
            
                </ul>
            <!-- <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="#1" aria-current="location">April 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#2">March 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">February 2023</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">January 2023</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">December 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">November 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">October 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">September 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">August 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">July 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">June 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">May 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">April 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">March 2022</a>
              </li>
      
              <li class="moj-side-navigation__item">
                <a href="#3">February 2022</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2">January 2022</a>
              </li>
            </ul>-->
          </nav>
      

    </div>

  <div class="ukef-grid-column-six-seventh">
    
    <span class="govuk-caption-xl">{{ data['report-month'] }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      {{ data['bank-1-name'] }}
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report">
              Report
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation">
              Reconciliation
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="report">
          <h2 class="govuk-heading-l">Report</h2>
          
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header">Value</th>  
                <th scope="col" class="govuk-table__header">Utilisation</th>
                <th scope="col" class="govuk-table__header">UKEF cover</th>
                <th scope="col" class="govuk-table__header">UKEF exposure</th>
                <th scope="col" class="govuk-table__header">Fees accrued</th>
                <th scope="col" class="govuk-table__header">Fee payable to UKEF</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-1-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-1-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-1-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-2-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-2-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-2-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-2-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-2-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-2-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-2-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-2-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-3-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-3-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-3-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-3-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-3-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-3-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-3-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-3-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-4-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-4-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-4-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-4-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-4-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-4-exposure'] }}</td>  
                <td class="govuk-table__cell">GBP {{ data['facility-4-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-4-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-5-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-5-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-5-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-5-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-5-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-5-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-5-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-6-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-6-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-6-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-6-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-6-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-6-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-6-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-6-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Total fees payable:</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 12,000.00<!--{{((data['facility-1-paid'] | float) + (data['facility-2-paid'] | float) + (data['facility-3-paid'] | float) + (data['facility-4-paid'] | float) + (data['facility-5-paid'] | float) + (data['facility-6-paid'] | float)).toFixed(2)}}--></td>
                
              </tr>
            </tbody>
          </table>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation">
          <form class="form" action="bank1-reconciliation.html" method="get">
          <h2 class="govuk-heading-l">Reconciliation</h2>
         
          <p class="govuk-body">Reconciliation has not been completed yet.</p>

          <button class="govuk-button" data-module="govuk-button">
            Start reconciliation
          </button>
        </form>
        </div>
      </div>









    
  </div>
</div>
{% endblock %}
