{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ data['bank-2-name'] }} {{ data['report-month'] }} report – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#">All deals</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="index">All facilities</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="reports">Bank reports</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{ data['bank-2-name'] }}
    </h1>
    <h2 class="govuk-heading-l">
      {{ data['report-month'] }}
    </h2> 

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report">
              Report
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation">
              Reconciliation
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report">

          <h2 class="govuk-heading-l">Report</h2>
          
          {% if 'Yes' in data['bank-2-payment'] %}
          <!-- payment matches -->
          
          {% elseif 'No' in data['bank-2-payment'] %}
          <!-- payment doesn't match -->
           
          {% elseif '' in data['bank-2-payment'] %}
          <!-- reconciliation not done -->
          <p class="govuk-body"><a href="#reconciliation">Reconciliation</a> has not been completed yet.</p>
          {% endif %}

          <table class="govuk-table"  data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>  
                <th scope="col" class="govuk-table__header" aria-sort="none">Utilisation</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF cover</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF exposure</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable to UKEF</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility10">{{ data['facility-10-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-10-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-10-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-10-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-10-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-10-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-10-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-10-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-11-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-11-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-11-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-11-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-11-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-11-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-11-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-11-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-12-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-12-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-12-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-12-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-12-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-12-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-12-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-12-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-13-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-13-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-13-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-13-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-13-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-13-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-13-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-13-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-14-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-14-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-14-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-14-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-14-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-14-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-14-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-14-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-15-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-15-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-15-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-15-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-15-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-15-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-15-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-15-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-16-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-16-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-16-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-16-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-16-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-16-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-16-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-16-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-17-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-17-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-17-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-17-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-17-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-17-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-17-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-17-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-18-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-18-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-18-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-18-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-18-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-18-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-18-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-18-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-19-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-19-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-19-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-19-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-19-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-19-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-19-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-19-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-20-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-20-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-20-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-20-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-20-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-20-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-20-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-20-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-21-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-21-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-21-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-21-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-21-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-21-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-21-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-21-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility1">{{ data['facility-22-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-22-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-22-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-22-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-22-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-22-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-22-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-22-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="facility23">{{ data['facility-23-ukef-id'] }}</a></th>
                <td class="govuk-table__cell">{{ data['facility-23-name'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-23-limit'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-23-utilisation'] }}</td>
                <td class="govuk-table__cell">{{ data['facility-23-cover'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-23-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-23-accrued'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-23-paid'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Total reported fees payable</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP {{ data['bank-2-fee-payable'] }}</td>
              </tr>
            </tbody>
            <tfoot>
              {% if 'Yes' in data['bank-2-payment'] %}
              <!-- payment matches -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Payment received</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP {{ data['bank-2-fee-payable'] }}<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">
                  Payment matches
                </strong></td>
              </tr>
                
              {% elseif 'No' in data['bank-2-payment'] %}
              <!-- payment doesn't match -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Payment received</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP {{ data['bank2-amount-received'] }} <br><strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-2">
                  Payment does not match
                </strong></td>
              </tr>  
              
              {% elseif '' in data['bank-2-payment'] %}
              <!-- reconciliation not done -->
            
              {% endif %}  

            </tfoot>
            
          </table>
        </div>
        <!-- end of report tab -->

        

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation">
          
          <h2 class="govuk-heading-l">Reconciliation</h2>

          {% if 'not-done' in data['bank-2-reconciliation'] %}
          <!-- Display form and button if reconciliation not done yet -->
          <form class="form" action="bank-2-reconciliation.html" method="get">

          <!--<p class="govuk-body">Reconciliation has not been completed yet.</p>-->

          <button class="govuk-button" data-module="govuk-button">
            Start reconciliation
          </button>
        </form>
        <!--end of form -->

          
          {% else %}

        <!-- Display reconciliation data -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reported fee payable
              </dt>
              <dd class="govuk-summary-list__value">
                GBP {{ data['bank-2-fee-payable'] }} 
              </dd>
            </div>  
            
            {% if 'Yes' in data['bank-2-payment'] %}
            <!-- It matches - display the reported bank fee payable -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment received
              </dt>
              <dd class="govuk-summary-list__value">
                GBP {{ data['bank-2-fee-payable'] }} <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">
                  Payment matches
              </strong>
              </dd>
            </div> 
            
            {% else %}
            <!-- It doesn't match - display the fee received -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Amount received
              </dt>
              <dd class="govuk-summary-list__value">
                  GBP {{ data['bank2-amount-received'] }} <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">
                    Payment does not match
                </strong>
              </dd>
            </div>
            {% endif %}


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date received
              </dt>
              <dd class="govuk-summary-list__value">
                8 May 2023
              </dd>
            </div> 
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reconciled by
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['signed-in-name'] }}, {{ data['todays-date-full'] }} at {{ data['time-now'] }}
              </dd>
            </div>

          </dl>

          

          {% endif %}
        </div>
      </div>
      <!--end of reconciliation data wrappers -->


     

        </div>
</div>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          {{ data['last-month'] }}
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report2">
              Report
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation2">
              Reconciliation
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report2">

          <h2 class="govuk-heading-l" id="march2023">Report</h2>
          
          
          <!-- payment matches -->
          <table class="govuk-table"  data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>  
                <th scope="col" class="govuk-table__header" aria-sort="none">Utilisation</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF cover</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF exposure</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable to UKEF</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="facility10">20001380</a></a></td>
                <td class="govuk-table__cell">Marine Equipment Ltd</td>
                <td class="govuk-table__cell">GBP 2,500,000.00</td>
                <td class="govuk-table__cell">GBP 1,420,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 1,136,000.00</td>
                <td class="govuk-table__cell">GBP 11,650.00</td>
                <td class="govuk-table__cell">GBP 3,325.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20001381</a></td>
                <td class="govuk-table__cell">Innovate Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 1,200,000.00</td>
                <td class="govuk-table__cell">GBP 720,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 576,000.00</td>
                <td class="govuk-table__cell">GBP 10,500.00</td>
                <td class="govuk-table__cell">GBP 1,900.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20001372</a></td>
                <td class="govuk-table__cell">LuminaTech Ltd</td>
                <td class="govuk-table__cell">GBP 1,000,000.00</td>
                <td class="govuk-table__cell">GBP 400,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 320,000.00</td>
                <td class="govuk-table__cell">GBP 19,000.00</td>
                <td class="govuk-table__cell">GBP 850.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">2000138</a></td>
                <td class="govuk-table__cell">NexGen Robotics Ltd</td>
                <td class="govuk-table__cell">GBP 700,000.00</td>
                <td class="govuk-table__cell">GBP 340,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 272,000.00</td>
                <td class="govuk-table__cell">GBP 9,800.00</td>
                <td class="govuk-table__cell">GBP 1,140.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20001384</a></td>
                <td class="govuk-table__cell">Energy Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 800,000.00</td>
                <td class="govuk-table__cell">GBP 400,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 320,000.00</td>
                <td class="govuk-table__cell">GBP 10,600.00</td>
                <td class="govuk-table__cell">GBP 1,330.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20001385</a></td>
                <td class="govuk-table__cell">Automation Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 700,000.00</td>
                <td class="govuk-table__cell">GBP 340,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 272,000.00</td>
                <td class="govuk-table__cell">GBP 9,800.00</td>
                <td class="govuk-table__cell">GBP 1,140.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20001678</a></td>
                <td class="govuk-table__cell">British Engineering Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 900,000.00</td>
                <td class="govuk-table__cell">GBP 460,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 368,000.00</td>
                <td class="govuk-table__cell">GBP 6,000.00</td>
                <td class="govuk-table__cell">GBP 2,375.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20002123</a></td>
                <td class="govuk-table__cell">Meridian Manufacturing Ltd</td>
                <td class="govuk-table__cell">GBP 500,000.00</td>
                <td class="govuk-table__cell">GBP 220,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 176,000.00</td>
                <td class="govuk-table__cell">GBP 5,500.00</td>
                <td class="govuk-table__cell">GBP 950.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20002679</a></td>
                <td class="govuk-table__cell">British Tech Innovators Ltd</td>
                <td class="govuk-table__cell">GBP 1,200,000.00</td>
                <td class="govuk-table__cell">GBP 640,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 512,000.00</td>
                <td class="govuk-table__cell">GBP 10,500.00</td>
                <td class="govuk-table__cell">GBP 3,120.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20003178</a></td>
                <td class="govuk-table__cell">Britannia Energy Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 800,000.00</td>
                <td class="govuk-table__cell">GBP 400,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 320,000.00</td>
                <td class="govuk-table__cell">GBP 8,500.00</td>
                <td class="govuk-table__cell">GBP 1,900.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20003698</a></td>
                <td class="govuk-table__cell">Union Manufacturing Co. Ltd</td>
                <td class="govuk-table__cell">GBP 1,500,000.00</td>
                <td class="govuk-table__cell">GBP 820,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 656,000.00</td>
                <td class="govuk-table__cell">GBP 13,000.00</td>
                <td class="govuk-table__cell">GBP 1,750.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20004225</a></td>
                <td class="govuk-table__cell">British Logistics Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 1,200,000.00</td>
                <td class="govuk-table__cell">GBP 640,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 512,000.00</td>
                <td class="govuk-table__cell">GBP 9,000.00</td>
                <td class="govuk-table__cell">GBP 2,850.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20004801</a></td>
                <td class="govuk-table__cell">Britannic Engineering Ltd</td>
                <td class="govuk-table__cell">GBP 1,800,000.00</td>
                <td class="govuk-table__cell">GBP 1,000,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 800,000.00</td>
                <td class="govuk-table__cell">GBP 13,000.00</td>
                <td class="govuk-table__cell">GBP 4,750.00</td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><a href="#">20005379</a></td>
                <td class="govuk-table__cell">British Pharma Solutions Ltd</td>
                <td class="govuk-table__cell">GBP 1,500,000.00</td>
                <td class="govuk-table__cell">GBP 820,000.00</td>
                <td class="govuk-table__cell">80%</td>
                <td class="govuk-table__cell">GBP 656,000.00</td>
                <td class="govuk-table__cell">GBP 11,500.00</td>
                <td class="govuk-table__cell">GBP 3,800.00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Total reported fees payable</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 31,180.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Payment received</th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 31,180.00<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">
                  Payment matches
                </strong></td>
              </tr>
            </tfoot>
          </table>
          
        </div>
        <!-- end of report tab -->

        

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation2">
          
          <h2 class="govuk-heading-l">Reconciliation</h2>

          

        <!-- Display reconciliation data -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reported fee payable
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 37,811.00
              </dd>
            </div>  
            
            
            <!-- It matches - display the reported bank fee payable -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment received
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 37,811.00 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">
                  Payment matches
              </strong>
              </dd>
            </div> 

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date received
              </dt>
              <dd class="govuk-summary-list__value">
                7 April 2023
              </dd>
            </div> 
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reconciled by
              </dt>
              <dd class="govuk-summary-list__value">
                John Smith, 8 April 2023 at 11:43am
              </dd>
            </div>

          </dl>

        </div>
      </div>
      <!--end of reconciliation data wrappers -->


     

        </div>
</div>

    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          {{ data['3rd-month'] }}
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report3">
              Report
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation3">
              Reconciliation
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report3">

          <h2 class="govuk-heading-l" id="feb2023">Report</h2>
          
          
          <!-- payment matches -->

          <table class="govuk-table"  data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>  
                <th scope="col" class="govuk-table__header" aria-sort="none">Utilisation</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF cover</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF exposure</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable to UKEF</th>
              </tr>
            </thead>
              
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <tr>
                <td class="govuk-table__cell"><a href="facility10">20001380</a></td>
                  <td class="govuk-table__cell">Marine Equipment Ltd</td>
                  <td class="govuk-table__cell">GBP 2,500,000.00</td>
                  <td class="govuk-table__cell">GBP 1,425,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 1,140,000.00</td>
                  <td class="govuk-table__cell">GBP 8,325.00</td>
                  <td class="govuk-table__cell">GBP 3,400.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001381</a></td>
                  <td class="govuk-table__cell">Innovate Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 725,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 580,000.00</td>
                  <td class="govuk-table__cell">GBP 11,875.00</td>
                  <td class="govuk-table__cell">GBP 1,900.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001372</td>
                  <td class="govuk-table__cell">LuminaTech Ltd</td>
                  <td class="govuk-table__cell">GBP 1,000,000.00</td>
                  <td class="govuk-table__cell">GBP 405,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 324,000.00</td>
                  <td class="govuk-table__cell">GBP 18,150.00</td>
                  <td class="govuk-table__cell">GBP 1,100.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001383</td>
                  <td class="govuk-table__cell">NexGen Robotics Ltd</td>
                  <td class="govuk-table__cell">GBP 700,000.00</td>
                  <td class="govuk-table__cell">GBP 345,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 276,000.00</td>
                  <td class="govuk-table__cell">GBP 8,660.00</td>
                  <td class="govuk-table__cell">GBP 1,040.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001384</td>
                  <td class="govuk-table__cell">Energy Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 800,000.00</td>
                  <td class="govuk-table__cell">GBP 405,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 324,000.00</td>
                  <td class="govuk-table__cell">GBP 9,500.00</td>
                  <td class="govuk-table__cell">GBP 1,330.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001385</td>
                  <td class="govuk-table__cell">Automation Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 700,000.00</td>
                  <td class="govuk-table__cell">GBP 345,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 276,000.00</td>
                  <td class="govuk-table__cell">GBP 8,500.00</td>
                  <td class="govuk-table__cell">GBP 1,200.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001678</td>
                  <td class="govuk-table__cell">British Engineering Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 900,000.00</td>
                  <td class="govuk-table__cell">GBP 465,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 372,000.00</td>
                  <td class="govuk-table__cell">GBP 3,625.00</td>
                  <td class="govuk-table__cell">GBP 2,375.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20002123</td>
                  <td class="govuk-table__cell">Meridian Manufacturing Ltd</td>
                  <td class="govuk-table__cell">GBP 500,000.00</td>
                  <td class="govuk-table__cell">GBP 225,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 180,000.00</td>
                  <td class="govuk-table__cell">GBP 4,625.00</td>
                  <td class="govuk-table__cell">GBP 975.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20002679</td>
                  <td class="govuk-table__cell">British Tech Innovators Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 645,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 516,000.00</td>
                  <td class="govuk-table__cell">GBP 8,500.00</td>
                  <td class="govuk-table__cell">GBP 3,300.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20003178</td>
                  <td class="govuk-table__cell">Britannia Energy Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 800,000.00</td>
                  <td class="govuk-table__cell">GBP 405,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 324,000.00</td>
                  <td class="govuk-table__cell">GBP 6,525.00</td>
                  <td class="govuk-table__cell">GBP 1,900.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20003698</td>
                  <td class="govuk-table__cell">Union Manufacturing Co. Ltd</td>
                  <td class="govuk-table__cell">GBP 1,500,000.00</td>
                  <td class="govuk-table__cell">GBP 825,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 660,000.00</td>
                  <td class="govuk-table__cell">GBP 11,800.00</td>
                  <td class="govuk-table__cell">GBP 1,800.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20004225</td>
                  <td class="govuk-table__cell">British Logistics Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 645,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 516,000.00</td>
                  <td class="govuk-table__cell">GBP 6,250.00</td>
                  <td class="govuk-table__cell">GBP 2,950.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20004801</td>
                  <td class="govuk-table__cell">Britannic Engineering Ltd</td>
                  <td class="govuk-table__cell">GBP 1,800,000.00</td>
                  <td class="govuk-table__cell">GBP 1,005,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 804,000.00</td>
                  <td class="govuk-table__cell">GBP 8,250.00</td>
                  <td class="govuk-table__cell">GBP 4,750.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20005379</td>
                  <td class="govuk-table__cell">British Pharma Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,500,000.00</td>
                  <td class="govuk-table__cell">GBP 825,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 660,000.00</td>
                  <td class="govuk-table__cell">GBP 7,700.00</td>
                  <td class="govuk-table__cell">GBP 3,900.00</td>
                </tr>
              </tbody>
                <tfoot>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Total reported fees payable</th>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 31,920.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Payment received</th>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 31,920.00<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">
                    Payment matches
                  </strong></td>
                </tr>
              </tfoot>
              
            </table>

            </tbody>
          </table>
        </div>
        <!-- end of report tab -->

        

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation3">
          
          <h2 class="govuk-heading-l">Reconciliation</h2>

          

        <!-- Display reconciliation data -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reported fee payable
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 36,550.00 
              </dd>
            </div>  
            
            
            <!-- It matches - display the reported bank fee payable -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment received
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 36,550.00 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">
                  Payment matches
              </strong>
              </dd>
            </div> 

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date received
              </dt>
              <dd class="govuk-summary-list__value">
                5 March 2023
              </dd>
            </div> 
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reconciled by
              </dt>
              <dd class="govuk-summary-list__value">
                John Smith, 7 March 2023 at 2:23pm
              </dd>
            </div>

          </dl>

        </div>
      </div>
      <!--end of reconciliation data wrappers -->


     

        </div>
</div>

    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          {{ data['4th-month'] }}
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#report4">
              Report
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#reconciliation4">
              Reconciliation
            </a>
          </li>
        </ul>
        
        <div class="govuk-tabs__panel" id="report4">

          <h2 class="govuk-heading-l" id="jan2023">Report</h2>
          
          
          <!-- payment matches -->

          <table class="govuk-table"  data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--l"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Facility ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Value</th>  
                <th scope="col" class="govuk-table__header" aria-sort="none">Utilisation</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF cover</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">UKEF exposure</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fees accrued</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Fee payable to UKEF</th>
              </tr>
            </thead>
              
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <tr>
                <td class="govuk-table__cell"><a href="facility10">20001380</a></td>
                  <td class="govuk-table__cell">Marine Equipment Ltd</td>
                  <td class="govuk-table__cell">GBP 2,500,000.00</td>
                  <td class="govuk-table__cell">GBP 1,410,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 1,128,000.00</td>
                  <td class="govuk-table__cell">GBP 4,925.00</td>
                  <td class="govuk-table__cell">GBP 3,225.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001381</a></td>
                  <td class="govuk-table__cell">Innovate Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 705,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 564,000.00</td>
                  <td class="govuk-table__cell">GBP 9,975.00</td>
                  <td class="govuk-table__cell">GBP 1,800.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001372</a></td>
                  <td class="govuk-table__cell">LuminaTech Ltd</td>
                  <td class="govuk-table__cell">GBP 1,000,000.00</td>
                  <td class="govuk-table__cell">GBP 390,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 312,000.00</td>
                  <td class="govuk-table__cell">GBP 17,050.00</td>
                  <td class="govuk-table__cell">GBP 5,725.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001383</a></td>
                  <td class="govuk-table__cell">NexGen Robotics Ltd</td>
                  <td class="govuk-table__cell">GBP 700,000.00</td>
                  <td class="govuk-table__cell">GBP 330,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 264,000.00</td>
                  <td class="govuk-table__cell">GBP 7,700.00</td>
                  <td class="govuk-table__cell">GBP 920.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001384</a></td>
                  <td class="govuk-table__cell">Energy Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 800,000.00</td>
                  <td class="govuk-table__cell">GBP 420,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 336,000.00</td>
                  <td class="govuk-table__cell">GBP 8,270.00</td>
                  <td class="govuk-table__cell">GBP 1,370.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001385</a></td>
                  <td class="govuk-table__cell">Automation Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 700,000.00</td>
                  <td class="govuk-table__cell">GBP 330,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 264,000.00</td>
                  <td class="govuk-table__cell">GBP 7,300.00</td>
                  <td class="govuk-table__cell">GBP 1,080.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20001678</a></td>
                  <td class="govuk-table__cell">British Engineering Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 900,000.00</td>
                  <td class="govuk-table__cell">GBP 450,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 360,000.00</td>
                  <td class="govuk-table__cell">GBP 1,375.00</td>
                  <td class="govuk-table__cell">GBP 1,375.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20002123</a></td>
                  <td class="govuk-table__cell">Meridian Manufacturing Ltd</td>
                  <td class="govuk-table__cell">GBP 500,000.00</td>
                  <td class="govuk-table__cell">GBP 210,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 168,000.00</td>
                  <td class="govuk-table__cell">GBP 3,625.00</td>
                  <td class="govuk-table__cell">GBP 925.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20002679</a></td>
                  <td class="govuk-table__cell">British Tech Innovators Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 630,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 504,000.00</td>
                  <td class="govuk-table__cell">GBP 5,200.00</td>
                  <td class="govuk-table__cell">GBP 3,100.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20003178</a></td>
                  <td class="govuk-table__cell">Britannia Energy Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 800,000.00</td>
                  <td class="govuk-table__cell">GBP 420,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 336,000.00</td>
                  <td class="govuk-table__cell">GBP 4,625.00</td>
                  <td class="govuk-table__cell">GBP 2,025.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20003698</a></td>
                  <td class="govuk-table__cell">Union Manufacturing Co. Ltd</td>
                  <td class="govuk-table__cell">GBP 1,500,000.00</td>
                  <td class="govuk-table__cell">GBP 810,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 648,000.00</td>
                  <td class="govuk-table__cell">GBP 10,000.00</td>
                  <td class="govuk-table__cell">GBP 1,700.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20004225</a></td>
                  <td class="govuk-table__cell">British Logistics Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,200,000.00</td>
                  <td class="govuk-table__cell">GBP 630,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 504,000.00</td>
                  <td class="govuk-table__cell">GBP 3,350.00</td>
                  <td class="govuk-table__cell">GBP 2,750.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20004801</a></td>
                  <td class="govuk-table__cell">Britannic Engineering Ltd</td>
                  <td class="govuk-table__cell">GBP 1,800,000.00</td>
                  <td class="govuk-table__cell">GBP 990,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 792,000.00</td>
                  <td class="govuk-table__cell">GBP 3,500.00</td>
                  <td class="govuk-table__cell">GBP 1,500.00</td>
                </tr>
                <tr>
                <td class="govuk-table__cell"><a href="#">20005379</a></td>
                  <td class="govuk-table__cell">British Pharma Solutions Ltd</td>
                  <td class="govuk-table__cell">GBP 1,500,000.00</td>
                  <td class="govuk-table__cell">GBP 810,000.00</td>
                  <td class="govuk-table__cell">80%</td>
                  <td class="govuk-table__cell">GBP 648,000.00</td>
                  <td class="govuk-table__cell">GBP 3,800.00</td>
                  <td class="govuk-table__cell">GBP 2,000.00</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Total reported fees payable</th>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 29,295.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-text-align-right" colspan="7">Payment received</th>
                  <td class="govuk-table__cell govuk-!-font-weight-bold">GBP 29,295.00<br><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">
                    Payment matches
                  </strong></td>
                </tr>
              </tfoot>
            </table>

            </tbody>
          </table>
        </div>
        <!-- end of report tab -->

        

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="reconciliation4">
          
          <h2 class="govuk-heading-l">Reconciliation</h2>

          

        <!-- Display reconciliation data -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reported fee payable
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 35,900.00 
              </dd>
            </div>  
            
            
            <!-- It matches - display the reported bank fee payable -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment received
              </dt>
              <dd class="govuk-summary-list__value">
                GBP 35,900.00 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">
                  Payment matches
              </strong>
              </dd>
            </div> 

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date received
              </dt>
              <dd class="govuk-summary-list__value">
                8 February 2023
              </dd>
            </div> 
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reconciled by
              </dt>
              <dd class="govuk-summary-list__value">
                John Smith, 9 February 2023 at 3:16pm
              </dd>
            </div>

          </dl>

        </div>
      </div>
      <!--end of reconciliation data wrappers -->


     

        </div>
</div>

    </div>
  </div>
  
</div>
{% endblock %}
