{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set containerClasses = "app-width-container" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/settings.scss" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
TFM – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-panel govuk-panel--confirmation blue-panel">
  <h1 class="govuk-panel__title">
    [Content]
  </h1>
  <div class="govuk-panel__body">
    [Content]
  </div>
</div>

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Tasks',
    href: '#1'
  }, {
    text: 'Deal',
    href: '#2'
  }, {
    text: 'Parties',
    href: '#3'
  }, {
    text: 'Documents',
    href: '#3'
  }, {
    text: 'Activity and comments',
    href: '#3'
  }, {
    text: 'Underwriting',
    href: '#3'
  }]
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Facility {{ data['facility-1-ukef-id'] }}</span>
    <h1 class="govuk-heading-l">
      Cash facility
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#details">
            Details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#monthly-reports">
            Monthly reports
          </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#amendments">
              Amendments
            </a>
          </li>
      </ul>
      
        <div class="govuk-tabs__panel" id="details">
        
            <h2 class="govuk-heading-l">Overview</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        Product
                    </dt>
                    <dd class="govuk-summary-list__value">
                        General export facility
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Contingent facility
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Facility stage
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--blue">Issued</strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Bank facility reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['facility-1-ref'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Facility provided on
                    </dt>
                    <dd class="govuk-summary-list__value">
                    ?[Uncommited basis]
                    </dd>
                </div>
            </dl>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-l">Value and exposure</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">Value (export currency)</dt>
                    <dd class="govuk-summary-list__value">GBP {{ data['facility-1-limit'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Exchange rate</dt>
                    <dd class="govuk-summary-list__value">-</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Value (GBP)</dt>
                    <dd class="govuk-summary-list__value">GBP {{ data['facility-1-limit'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">UKEF cover</dt>
                    <dd class="govuk-summary-list__value">{{ data['facility-1-cover'] }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Maximum UKEF exposure</dt>
                    <dd class="govuk-summary-list__value">GBP {{ data['facility-1-max'] }} as at {{ data['end-previous-month'] }}</dd>
                </div>
            </dl> 


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-l">Dates</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                    Inclusion notice received
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-start-date'] }}
                </dd>
                </div>
        
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Bank issue notice received
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-start-date'] }}
                </dd>
                </div>
        
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cover start date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-start-date'] }}
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cover end date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-end-date'] }}
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Tenor
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-tenor'] }}
                </dd>
                </div>
            </dl> 

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-l">Pricing and risk</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">
                    Bank's interest margin
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-interest-margin'] }}
                </dd>
                </div>
        
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Guarantee fee payable to UKEF 
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-fee-payable'] }}
                </dd>
                </div>
        
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Credit rating
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['facility-1-credit-rating'] }}
                </dd>
                </div>
            </dl> 

        </div>

        <!-- end of Details -->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="monthly-reports">

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Reported details</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Month</th>
                <th scope="col" class="govuk-table__header">Value</th>
                <th scope="col" class="govuk-table__header">UKEF's exposure</th>
                <th scope="col" class="govuk-table__header">Fee payable to UKEF</th>
                <th scope="col" class="govuk-table__header">Fees accrued</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">February 2023</th>
                <td class="govuk-table__cell">GBP {{ data['facility-1-utilisation'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-exposure'] }}</td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-paid'] }} </td>
                <td class="govuk-table__cell">GBP {{ data['facility-1-accrued'] }} </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">January 2023</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">December 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">November 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">October 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">September 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">August 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">July 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">July 2022</th>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
                <td class="govuk-table__cell">GBP</td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- end of Monthly reports -->

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="amendments">
        <h2 class="govuk-heading-l">[Content]</h2>
      </div>
      <!-- end of Ammendments -->

    </div>
    <!-- end of tabs -->
  </div>
</div>

{% endblock %}
