{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set containerClasses = "app-width-container" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/settings.scss" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
Bank reports – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
  <div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
      <div class="moj-primary-navigation__nav">
        <nav class="moj-primary-navigation" aria-label="Primary navigation">
          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#">All deals</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="index">All facilities</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="reports">Bank reports</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Bank reports 
    </h1>

    <h2 class="govuk-heading-m">Current reporting period {{ data['report-month'] }}</h2>

    <p class="govuk-body">April reports due by {{ data['this-month-report-due'] }}</p>
    
    <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Bank</th>

            <th scope="col" class="govuk-table__header" aria-sort="ascending">Report status</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="bank1">{{ data['bank-1-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-2-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-3-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="2">
              <strong class="govuk-tag govuk-tag--blue">
              Due
              </strong>
          </td>
          
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-4-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="2">
              <strong class="govuk-tag govuk-tag--blue">
                Due
              </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-5-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="2">
                <strong class="govuk-tag govuk-tag--blue">
                Due
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-6-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-7-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
              <strong class="govuk-tag govuk-tag--green">
              Received
              </strong>
          </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-8-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-9-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="#">{{ data['bank-10-name'] }}</a></th>

            <td class="govuk-table__cell" data-sort-value="3">
                <strong class="govuk-tag govuk-tag--green">
                Received
                </strong>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
